{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flsync-Login</title>
  <link href="{{ url_for('static',filename='css/login_style.css') }}" rel="stylesheet">
</head>
<body>
      <div id="login_div" class="main-div">
          <h3>Welcome to flsync</h3>
          <h5>now you can view, edit, upload and download your files online! Just log in..</h5>
          <form method="post" action="">
            {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.username(placeholder="Username...") }}
              </div>
              <div class="form-group">
                  {{ form.password(class="form-control form-control-lg" ,placeholder="Password...") }}
              </div>
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-group">
                    {{ form.submit }}
                </div>
                <small class="text-muted ml-2">
                    <a href="/reset_request">Forgot Password?</a>
                </small>
          </form>
      </div>
</body>
</html>
{% endblock content %}