{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flsync-Reset-Password</title>
  <link href="{{ url_for('static',filename='css/reset.css') }}" rel="stylesheet">
</head>
<body>
    <div class="main-div">
        <form method="post" action="">
            <h1>Reset password for user : {{username}}</h1>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password(class="form-control form-control-lg" ,placeholder="Password...") }}
            </div>
            <div class="form-group">
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid",placeholder="Confirm Password...") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg",placeholder="Confirm Password...") }}
                {% endif %}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
                  {% endfor %}
              {% endif %}
              {% endwith %}
              <div class="form-group">
                  {{ form.submit }}
              </div>
        </form>
    </div>
</body>
</html>
{% endblock content %}